Repository jvllmr/frans: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt

eslint:
  name: lint typescript
  entry: pnpm eslint
  language: system
  pass_filenames: true

go-fmt:
  name: go fmt
  entry: go fmt
  language: system
  pass_filenames: false

fix(build): use ES2022 (#95)
  tsconfig.app.json
Due: none

fix: use github.com/wneessen/go-mail
  go.mod
  go.sum
  internal/mail/download.go
  internal/mail/mail.go
  internal/mail/shared.go
  internal/mail/upload.go
Due: go-fmt

fix: use github.com/wneessen/go-mail (#97)
  go.mod
  go.sum
  internal/mail/download.go
  internal/mail/mail.go
  internal/mail/shared.go
  internal/mail/upload.go
Due: go-fmt

fix(renovate): don't upgrade golan again
  .github/renovate.json
  go.mod
  go.sum
Due: none

fix(renovate): don't upgrade golan again (#98)
  .github/renovate.json
  go.mod
  go.sum
Due: none

fix: respect reverse proxies when getting base url
  internal/config/config.go
Due: go-fmt

fix: respect reverse proxies when getting base url (#99)
  internal/config/config.go
Due: go-fmt

perf(server): files can only have a single file or grant
  internal/db/migrations/mysql/20251107183429_file_single_ticket_grant.sql
  internal/db/migrations/mysql/atlas.sum
  internal/db/migrations/postgres/20251107183426_file_single_ticket_grant.sql
  internal/db/migrations/postgres/atlas.sum
  internal/db/migrations/sqlite3/20251107183423_file_single_ticket_grant.sql
  internal/db/migrations/sqlite3/atlas.sum
  internal/ent/client.go
  internal/ent/file.go
  internal/ent/file/file.go
  internal/ent/file/where.go
  internal/ent/file_create.go
  internal/ent/file_query.go
  internal/ent/file_update.go
  internal/ent/grant/grant.go
  internal/ent/grant/where.go
  internal/ent/grant_create.go
  internal/ent/grant_query.go
  internal/ent/grant_update.go
  internal/ent/migrate/schema.go
  internal/ent/mutation.go
  internal/ent/schema/file.go
  internal/ent/ticket/ticket.go
  internal/ent/ticket/where.go
  internal/ent/ticket_create.go
  internal/ent/ticket_query.go
  internal/ent/ticket_update.go
  internal/routes/api/file.go
  internal/routes/api/files_test.go
Due: go-fmt

perf(server): files can only have a single file or grant (#101)
  internal/db/migrations/mysql/20251107183429_file_single_ticket_grant.sql
  internal/db/migrations/mysql/atlas.sum
  internal/db/migrations/postgres/20251107183426_file_single_ticket_grant.sql
  internal/db/migrations/postgres/atlas.sum
  internal/db/migrations/sqlite3/20251107183423_file_single_ticket_grant.sql
  internal/db/migrations/sqlite3/atlas.sum
  internal/ent/client.go
  internal/ent/file.go
  internal/ent/file/file.go
  internal/ent/file/where.go
  internal/ent/file_create.go
  internal/ent/file_query.go
  internal/ent/file_update.go
  internal/ent/grant/grant.go
  internal/ent/grant/where.go
  internal/ent/grant_create.go
  internal/ent/grant_query.go
  internal/ent/grant_update.go
  internal/ent/migrate/schema.go
  internal/ent/mutation.go
  internal/ent/schema/file.go
  internal/ent/ticket/ticket.go
  internal/ent/ticket/where.go
  internal/ent/ticket_create.go
  internal/ent/ticket_query.go
  internal/ent/ticket_update.go
  internal/routes/api/file.go
  internal/routes/api/files_test.go
Due: go-fmt

fix(server): admins can view all received files
  internal/routes/api/file.go
  internal/routes/api/file_test.go
Due: go-fmt

fix(server): admins can view all received files (#102)
  internal/routes/api/file.go
  internal/routes/api/file_test.go
Due: go-fmt

fix(client): admin users can view owners
  client/api/file.ts
  client/routes/grants/active.tsx
  client/routes/grants/index.tsx
  client/routes/tickets/index.tsx
  locales/de/translation.json
  locales/en/translation.json
Due: eslint

fix(client): admin users can view owners (#103)
  client/api/file.ts
  client/routes/grants/active.tsx
  client/routes/grants/index.tsx
  client/routes/tickets/index.tsx
  locales/de/translation.json
  locales/en/translation.json
Due: eslint

feat(server): add otel metrics export
  cmd/serve.go
  go.mod
  go.sum
  internal/otel/metrics.go
Due: go-fmt

feat(server): add otel metrics export (#104)
  cmd/serve.go
  go.mod
  go.sum
  internal/otel/metrics.go
Due: go-fmt

New translations translation.json (German)
  locales/de/translation.json
Due: none

chore: use golangci and fix missed error checks
  .golangci.yaml
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
  cmd/cron.go
  cmd/root.go
  cmd/serve.go
  cmd/task.go
  eslint.config.mts
  internal/config/otel.go
  internal/db/migrate.go
  internal/mail/download.go
  internal/mail/mail.go
  internal/mail/shared.go
  internal/mail/upload.go
  internal/oidc/oidc.go
  internal/oidc/pkce.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/root.go
  internal/services/file.go
  internal/util/util.go
Due: eslint, go-fmt

don't crash application if .env does not exist
  cmd/root.go
Due: go-fmt

use pre-commit-ci lite-action
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Due: none

rename pre-commit-lite task
  .github/workflows/lint.yaml
Due: none

add skips again to pre-commit
  .pre-commit-config.yaml
Due: none

rename job for real this time
  .github/workflows/lint.yaml
Due: none

chore: use golangci and fix missed error checks (#105)
  .github/workflows/lint.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .prettierignore
  .vscode/settings.json
  cmd/cron.go
  cmd/root.go
  cmd/serve.go
  cmd/task.go
  eslint.config.mts
  internal/config/otel.go
  internal/db/migrate.go
  internal/mail/download.go
  internal/mail/mail.go
  internal/mail/shared.go
  internal/mail/upload.go
  internal/oidc/oidc.go
  internal/oidc/pkce.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/root.go
  internal/services/file.go
  internal/util/util.go
Due: eslint, go-fmt

chore: new Crowdin updates (#51)
  locales/de/forms.json
  locales/de/translation.json
Due: none

feat: allow setting a custom app title
  client/routes/__root.tsx
  client/vite-env.d.ts
  frans.defaults.yaml
  internal/config/config.go
  internal/routes/client/client.go
  internal/routes/client/index.gohtml
Due: eslint, go-fmt

feat: allow setting a custom app title (#107)
  client/routes/__root.tsx
  client/vite-env.d.ts
  frans.defaults.yaml
  internal/config/config.go
  internal/routes/client/client.go
  internal/routes/client/index.gohtml
Due: eslint, go-fmt

fix(client): app title was not injected correctly
  internal/routes/client/index.gohtml
Due: none

fix(client): app title was not injected correctly (#109)
  internal/routes/client/index.gohtml
Due: none

feat(helm): include a configMap setting for injecting frans.yaml content
  README.md
  charts/frans/templates/configmap.yaml
  charts/frans/templates/cronjob-files.yaml
  charts/frans/templates/cronjob-grants.yaml
  charts/frans/templates/cronjob-sessions.yaml
  charts/frans/templates/cronjob-tickets.yaml
  charts/frans/templates/deployment.yaml
  charts/frans/values.yaml
Due: none

feat(ci): add trailing-whitespace and end-of-file fixers
  .pre-commit-config.yaml
Due: none

feat(ci): add trailing-whitespace and end-of-file fixers (#111)
  .air.toml
  .dockerignore
  .github/workflows/publish.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  Dockerfile
  charts/frans/templates/cronjob-files.yaml
  charts/frans/templates/cronjob-grants.yaml
  charts/frans/templates/cronjob-sessions.yaml
  charts/frans/templates/cronjob-tickets.yaml
  files/.gitignore
  internal/db/atlas.go
  internal/mail/locales/.gitignore
  internal/routes/client/index.gohtml
  keycloak/keycloak_export.sh
  scripts/gen_migrations.sh
  scripts/gen_version.sh
  scripts/lint_migrations.sh
  scripts/test_coverage.sh
Due: go-fmt

feat(helm): include a configMap setting for injecting frans.yaml content (#110)
  README.md
  charts/frans/templates/configmap.yaml
  charts/frans/templates/cronjob-files.yaml
  charts/frans/templates/cronjob-grants.yaml
  charts/frans/templates/cronjob-sessions.yaml
  charts/frans/templates/cronjob-tickets.yaml
  charts/frans/templates/deployment.yaml
  charts/frans/values.yaml
Due: none

feat(ci): add goreleaser workflow
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix action specifier
  .github/workflows/release.yaml
Due: none

don't run on pull request
  .github/workflows/release.yaml
Due: none

filter pre-commit commits
  .goreleaser.yaml
Due: none

Path conditions:
  eslint: any of: \.(ts|mts|cts)$, \.tsx$
  go-fmt: any of: \.go$
