Repository jvllmr/frans: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt

.pre-commit-config.yaml:

ci:
  skip:
    - eslint
    - prettier
    - eslint
    - go-fmt
    - go-vet
    - go-tidy
repos:
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.13.0
    hooks:
      - id: zizmor
        args:
          - --fix=all
  - repo: https://github.com/jvllmr/pre-commit-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@latest
          - prettier-plugin-organize-imports@latest
  - repo: https://github.com/segmentio/golines
    rev: v0.13.0
    hooks:
      - id: golines
  - repo: local
    hooks:
      - id: eslint
        name: lint typescript
        entry: pnpm eslint
        language: system
        pass_filenames: true
        types_or:
          - ts
          - tsx
      - id: go-fmt
        name: go fmt
        entry: go fmt
        language: system
        pass_filenames: false
        types:
          - go
      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        pass_filenames: false
        always_run: true
      - id: go-tidy
        name: tidy go mod
        entry: go mod tidy
        language: system
        pass_filenames: false
        types_or:
          - go-sum
          - go-mod

feat(ci): add goreleaser workflow (#114)
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix: missing shebang in version generation script
  .goreleaser.yaml
  scripts/gen_version.sh
Due: none

fix: missing shebang in version generation script (#115)
  .goreleaser.yaml
  scripts/gen_version.sh
Due: none

fix(ci): generate version first and set fetch-tags to true
  .github/workflows/publish.yaml
Due: none

fix(ci): generate version first and set fetch-tags to true (#116)
  .github/workflows/publish.yaml
Due: none

fix(ci): try to fore changelog format
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix(ci): try to fore changelog format (#117)
  .github/workflows/release.yaml
  .goreleaser.yaml
Due: none

fix(ci): use `git describe --tags --always`
  scripts/gen_version.sh
Due: none

fix(ci): use `git describe --tags --always` (#118)
  scripts/gen_version.sh
Due: none

fix(ci): client files were not included in release binaries
  .github/workflows/release.yaml
Due: none

fix(ci): client files were not included in release binaries (#119)
  .github/workflows/release.yaml
Due: none

fix(ci): client build should not leave repo in dirty state
  package.json
Due: none

fix(ci): client build should not leave repo in dirty state (#120)
  package.json
Due: none

feat: allow configuration of additional head script tags
  frans.defaults.yaml
  frans.yaml
  internal/config/config.go
  internal/routes/client/client.go
  internal/routes/client/index.gohtml
  internal/util/util.go
Due: go-fmt

feat: allow configuration of additional head script tags (#124)
  frans.defaults.yaml
  frans.yaml
  internal/config/config.go
  internal/routes/client/client.go
  internal/routes/client/index.gohtml
  internal/util/util.go
Due: go-fmt

fix: define default for new `scripts` config
  internal/config/config.go
Due: go-fmt

fix: define default for new `scripts` config (#128)
  internal/config/config.go
Due: go-fmt

fix(client): use mantine default behavior for color scheme
  client/components/common/ColorSchemeSwitch.tsx
  client/routes/__root.tsx
Due: eslint

fix(renovate): make sure vulnerability alerts are enabled
  .github/renovate.json
Due: none

fix(renovate): make sure vulnerability alerts are enabled (#131)
  .github/renovate.json
Due: none

fix(client): use mantine default behavior for color scheme (#132)
  client/components/common/ColorSchemeSwitch.tsx
  client/routes/__root.tsx
Due: eslint

fix(mail): allow skipping TLS verification and only send successful status after mail was sent
  frans.defaults.yaml
  internal/config/config.go
  internal/mail/mail.go
  internal/routes/api/grant.go
  internal/routes/api/ticket.go
Due: go-fmt

fix(mail): allow skipping TLS verification and only send successful status after mail was sent (#136)
  frans.defaults.yaml
  internal/config/config.go
  internal/mail/mail.go
  internal/routes/api/grant.go
  internal/routes/api/ticket.go
Due: go-fmt

fix(mail): don't try auth when no username is supplied
  internal/mail/mail.go
Due: go-fmt

fix(mail): don't try auth when no username is supplied (#137)
  internal/mail/mail.go
Due: go-fmt

fix(server): only set cookies on configured root path
  internal/middleware/auth.go
  internal/oidc/oidc.go
  internal/oidc/pkce.go
  internal/oidc/user.go
  internal/routes/api/auth.go
Due: go-fmt

fix(server): only set cookies on configured root path (#138)
  internal/middleware/auth.go
  internal/oidc/oidc.go
  internal/oidc/pkce.go
  internal/oidc/user.go
  internal/routes/api/auth.go
Due: go-fmt

New translations mail.json (Dutch)
  locales/nl/mail.json
Due: none

New translations notifications.json (Dutch)
  locales/nl/notifications.json
Due: none

New translations share.json (Dutch)
  locales/nl/share.json
Due: none

New translations tabs.json (Dutch)
  locales/nl/tabs.json
Due: none

New translations ticket_new.json (Dutch)
  locales/nl/ticket_new.json
Due: none

New translations translation.json (Dutch)
  locales/nl/translation.json
Due: none

New translations forms.json (Dutch)
  locales/nl/forms.json
Due: none

New translations files_received.json (Dutch)
  locales/nl/files_received.json
Due: none

New translations grant_active.json (Dutch)
  locales/nl/grant_active.json
Due: none

New translations grant_new.json (Dutch)
  locales/nl/grant_new.json
Due: none

New translations comps.json (Dutch)
  locales/nl/comps.json
Due: none

New translations ticket_active.json (Dutch)
  locales/nl/ticket_active.json
Due: none

feat: add dutch translations
  README.md
  client/i18n.ts
  locales/nl/forms.json
Due: eslint
