Repository jvllmr/frans: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt

eslint:
  name: lint typescript
  entry: pnpm eslint
  language: system
  pass_filenames: true

go-fmt:
  name: go fmt
  entry: go fmt
  language: system
  pass_filenames: false

fix(build): don't forget assets with "_" prefix (#72)
  internal/routes/client/client.go
Due: go-fmt

fix(build): copy /etc/ssl/certs from alpine to container image
  Dockerfile
Due: none

fix(build): copy /etc/ssl/certs from alpine to container image (#74)
  Dockerfile
Due: none

fix(server): files where sometimes without data entity
  internal/routes/api/file.go
  internal/routes/api/share/ticket.go
  pnpm-workspace.yaml
Due: go-fmt

fix(server): files where sometimes without data entity (#75)
  internal/routes/api/file.go
  internal/routes/api/share/ticket.go
  pnpm-workspace.yaml
Due: go-fmt

fix(server): ticket share ticket was loaded without filedata
  internal/routes/api/share/ticket.go
Due: go-fmt

fix(server): ticket share ticket was loaded without filedata (#76)
  internal/routes/api/share/ticket.go
Due: go-fmt

fix(server): don't overwrite file value when updating download count
  internal/routes/api/share/ticket.go
Due: go-fmt

fix(server): don't overwrite file value when updating download count (#77)
  internal/routes/api/share/ticket.go
Due: go-fmt

fix(server): load file data when querying received files
  internal/routes/api/file.go
Due: go-fmt

fix(server): load file data when querying received files (#78)
  internal/routes/api/file.go
Due: go-fmt

fix(server): grant upload mail was sent on 2nd upload
  internal/routes/api/share/grant.go
Due: go-fmt

fix(server): grant upload mail was sent on 2nd upload (#79)
  internal/routes/api/share/grant.go
Due: go-fmt

chore(tests): add tests for files api
  internal/routes/api/files_test.go
  internal/routes/api/grant_test.go
Due: go-fmt

oops some coverage was not tracked
  scripts/test_coverage.sh
Due: none

test download count increase
  internal/routes/api/files_test.go
Due: go-fmt

test permissions
  internal/routes/api/file.go
  internal/routes/api/files_test.go
Due: go-fmt

test requesting non-existing file
  internal/routes/api/files_test.go
Due: go-fmt

chore(tests): add tests for files api (#80)
  internal/routes/api/file.go
  internal/routes/api/files_test.go
  internal/routes/api/grant_test.go
  scripts/test_coverage.sh
Due: go-fmt

fix(server): don't request client authentication for /share routes
  internal/routes/client/client.go
Due: go-fmt

fix(server): don't request client authentication for /share routes (#83)
  internal/routes/client/client.go
Due: go-fmt

use python 3.14 compatible version of yamale
  .github/workflows/publish.yaml
Due: none

remove useless filesCache state
  client/components/inputs/FilesInput.tsx
Due: eslint

feat: initial otel log exporting
  README.md
  cmd/root.go
  docker-compose.dev.yaml
  frans.defaults.yaml
  frans.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/db.go
  internal/config/logging.go
  internal/config/otel.go
  internal/logging/logger.go
  internal/otel/logging.go
  internal/routes/root.go
Due: go-fmt

fix readme
  README.md
Due: none

atlas lint requires atlas pro now...
  .github/workflows/lint.yaml
Due: none

fix(renovate): handle pre-commit updates and update golang toolchain
  .github/renovate.json
Due: none

start work on tracing
  cmd/root.go
  cmd/serve.go
  frans.defaults.yaml
  go.mod
  go.sum
  internal/config/otel.go
  internal/logging/logger.go
  internal/otel/logging.go
  internal/otel/tracing.go
  internal/routes/root.go
Due: go-fmt

fix(renovate): handle pre-commit updates and update golang toolchain (#90)
  .github/renovate.json
  .github/workflows/lint.yaml
Due: none

add initial tracing; metrics next
  cmd/serve.go
  internal/config/config.go
  internal/logging/recovery.go
  internal/middleware/admin.go
  internal/middleware/auth.go
  internal/otel/tracing.go
  internal/routes/api/auth.go
  internal/routes/api/file.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/api/user.go
  internal/services/file.go
  internal/util/user.go
Due: go-fmt

AbortWithError set error on span
  internal/logging/recovery.go
  internal/routes/api/auth.go
  internal/routes/api/file.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/client/client.go
  internal/util/util.go
Due: go-fmt

always abort with error
  internal/middleware/admin.go
  internal/routes/api/file.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
Due: go-fmt

use span context for handler abort
  internal/middleware/admin.go
  internal/routes/api/auth.go
  internal/routes/api/file.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/client/client.go
  internal/util/util.go
Due: go-fmt

set user env var
  Dockerfile
Due: none

use a fixed auth token for openobserve
  docker-compose.dev.yaml
  frans.yaml
Due: none

feat: initial OpenTelemetry exporters (#89)
  Dockerfile
  README.md
  cmd/root.go
  cmd/serve.go
  docker-compose.dev.yaml
  frans.defaults.yaml
  frans.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/db.go
  internal/config/logging.go
  internal/config/otel.go
  internal/logging/logger.go
  internal/logging/recovery.go
  internal/middleware/admin.go
  internal/middleware/auth.go
  internal/otel/logging.go
  internal/otel/tracing.go
  internal/routes/api/auth.go
  internal/routes/api/file.go
  internal/routes/api/grant.go
  internal/routes/api/share/grant.go
  internal/routes/api/share/ticket.go
  internal/routes/api/ticket.go
  internal/routes/api/user.go
  internal/routes/client/client.go
  internal/routes/root.go
  internal/services/file.go
  internal/util/user.go
  internal/util/util.go
Due: go-fmt

fix(ci): use go 1.25
  .github/workflows/test.yaml
Due: none

fix(build): use ES2022
  tsconfig.app.json
Due: none

fix(ci): use go 1.25 (#94)
  .github/workflows/test.yaml
Due: none

Path conditions:
  eslint: any of: \.(ts|mts|cts)$, \.tsx$
  go-fmt: any of: \.go$
